.dropdown-menu {
	background-color: black;
	color: white;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
}

a span {
	display: none;
	padding: 2px 3px;
	/*margin-left: 8px;*/
	width: 130px;
	font-size: 15px;
	text-align: center;
}

a:hover span {
	display: inline;
	position: absolute;
	background-color: black;
	color: white;
}


.navpic {
	width: 30px;
	height: 35px;
}

.mynav {
	background-color: black;
	color: white;
}

.first {
	background-color: #000066;
	color: white;
	padding: 5px;
}


.second {
	background-color: #660033;
	color: white;
	padding: 5px;
}

.third {
	background-color: #660000;
	color: white;
	padding: 5px;
}

.fifth {
	background-color: #663300;
	color: white;
	padding: 5px;
}

.sixth {
	background-color: #666600;
	color: white;
	padding: 5px;
}

.fourth {
	background-color: #003366;
	color: white;
	padding: 5px;
}

.seventh {
	background-color: black;
	color: white;
}