/* ==================================================================================== */

html,
body {
  overflow-x: hidden;
}

hr {
  border-top: 1px solid white;
}

a {
  color: white;
}

/* Header */
.first {
  background-color: #330066;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Professional Experience */
.experience {
  background-color: #660000;
  color: white;
  padding: 5px;
}

/* Educational Background */
.second {
  background-color: #003366;
  color: white;
  padding: 5px;
}

/* Technical Skills */
.third {
  background-color: #660000;
  color: white;
  padding: 5px;
}

/* Projects */
.fourth {
  background-color: #003366;
  color: white;
  padding: 5px;
}

/* Certifications & Achievements */
.fifth {
  background-color: #660000;
  color: white;
  padding: 5px;
}

/* Interests */
.sixth {
  background-color: #003366;
  color: white;
  padding: 5px;
}

/* Footer */
.seventh {
  background-color: black;
  color: white;
  /* padding-bottom: 10px; */
  /* padding-top: 10px; */
  text-align: center;
}
