/* ==================================================================================== */

html,
body {
  overflow-x: hidden;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #555;
}

/* Header */

.first-bg {
  background-color: white;
  background-image: url("Picture1.png"), url("img/photo.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto, cover;
}

.first {
  height: 100vh;
  color: black;
}

.screen {
  color: white;
  text-shadow: 2px 2px black;
  position: absolute;
  bottom: 0;
}

#hello {
  width: 100%;
  margin: 0 auto;
  /* text-shadow: 0 2px; */
}

.odd {
  background-color: #a3bcb6;
  color: black;
  padding: 5px;
}

.even {
  background-color: #daded4;
  color: black;
  padding: 5px;
}

/* Footer */
.seventh {
  background-color: black;
  color: white;
  /* padding-bottom: 10px; */
  /* padding-top: 10px; */
  /* text-align: center; */
}
